body{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

h3{
    text-align: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif;
}
